@import url(../../scss/fonts.scss);

.order-text {
  font-family: 'Satoshi Regular';
  font-size: 18px;
  line-height: 22px;
  color: #2a254b;
}

.order-num {
  font-family: 'Satoshi Medium';
  margin-bottom: 20px;
}

.order-sum {
  margin-bottom: 15px;
}

.order-item {
  margin-bottom: 33px;
  display: flex;
  text-decoration: none;
  color: #2a254b;
}

.order-container__product {
  display: flex;
  justify-content: space-between;
}

.order-img {
  width: 133px;
  height: 166px;
}

.order-product__description {
  margin-left: 24px;
}

.order-product__name {
  font-family: 'Satoshi Regular';
  font-size: 16px;
  color: #2a254b;
  line-height: 23px;
}

.order-product__quantity {
  font-family: 'Satoshi Regular';
  font-size: 16px;
  line-height: 23px;
}

.order-product__text {
  font-family: 'Satoshi Regular';
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  max-height: 92px;
  color: #2a254b;
  overflow: hidden;
}

.order-product__price {
  font-family: 'Satoshi Regular';
  padding-top: 10px;
  font-size: 16px;
}

.order-close-icon {
  cursor: pointer;
  box-sizing: content-box;
  flex-shrink: 0;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .order-text {
    font-size: 22px;
    line-height: 26px;
  }

  .order-num {
    margin-bottom: 30px;
  }

  .order-sum {
    margin-bottom: 20px;
  }

  .order-product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .order-product__text {
    max-height: 88px;
    padding-top: 0;
  }

  .order-product__price {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .order-text {
    font-size: 20px;
    line-height: 28px;
  }
}
