@import url(../../scss/fonts.scss);

.NotFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3vh;
  background-color: #ffffff;

  .NotFoundImg {
    width: 115%;
    max-width: 750px;
    margin-bottom: 20px;
  }

  .NotFoundTitle {
    color: #2a254b;
    font-family: 'Clash Display';
    font-size: 54px;
    font-weight: 400;
    line-height: 29.52px;
    margin-bottom: 20px;
  }

  .NotFoundText {
    color: #5b5676;
    font-family: Satoshi;
    font-size: 26px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .NotFoundButton {
    width: 240px;
    height: 70px;
    font-family: Satoshi;
    font-size: 24px;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #2a254b;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-bottom: 30px;

    &:hover {
      background-color: #413766;
      transform: scale(1.05);
    }

    &:active {
      background-color: #1c1835;
      transform: scale(0.98);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 360px) {
  .NotFoundContainer {
    .NotFoundImg {
      width: 70%;
    }

    .NotFoundTitle {
      font-size: 1.8rem;
      text-align: center;
    }

    .NotFoundText {
      font-size: 0.9rem;
      line-height: 2;
    }

    .NotFoundButton {
      padding: 8px 16px;
      font-size: 24px;
    }
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  .NotFoundContainer {
    .NotFoundImg {
      width: 85%;
    }

    .NotFoundTitle {
      color: #2a254b;
      font-family: 'Clash Display';
      font-size: 2.125rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    .NotFoundText {
      color: #5b5676;
      font-family: Satoshi;
      font-size: 26px;
      line-height: 1.5;
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) {
  .NotFoundContainer {
    .NotFoundTitle {
      color: #2a254b;
      font-family: 'Clash Display';
      font-size: 54px;
      font-weight: 400;
      line-height: 29.52px;
    }

    .NotFoundText {
      color: #5b5676;
      font-family: Satoshi;
      font-size: 26px;
      line-height: 2;
      margin-top: 30px;
    }

    .NotFoundButton {
      padding: 12px 24px;
      font-size: 24px;
    }
  }
}
