.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-text {
  font-family: 'Clash Display Regular';
  font-size: 24px;
  font-weight: 400;
  color: #2a254b;
}
